<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Agenda</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					@Html.ActionLink("Rendez-vous", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				</li>
				<li>
					@Html.ActionLink("Ajouter un rendez-vous", "Create", "Home", new { area = "" }, new { @class = "navbar-link" })
				</li>
				<li>
					@Html.ActionLink("Courtier", "Index", "brokers", new { area = "" }, new { @class = "nav-link" })
				</li>
				<li>
					@Html.ActionLink("Ajouter un Courtier", "Create", "brokers", new { area = "" }, new { @class = "nav-link" })
				</li>
				<li>
					@Html.ActionLink("Clients", "Index", "customers", new { area = "" }, new { @class = "nav-link" })
				</li>
				<li>
					@Html.ActionLink("Ajouter un Courtier", "Create", "customers", new { area = "" }, new { @class = "nav-link" })
				</li>
			</ul>
			<span id="Copy">&copy; @DateTime.Now.Year - Agenda</span>
		</div>
	</div>
	<div class="container img-rounded">
		@RenderBody()
	</div>
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/script.js"></script>
</body>
</html>